<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>KSMTEST000.dev.kreienbuehl.ksecuremessage.keychainhost</string>
    <key>keychain-access-groups</key>
    <array>
        <string>KSMTEST000.dev.kreienbuehl.ksecuremessage.keychainhost</string>
        <string>KSMTEST000.dev.kreienbuehl.ksecuremessage.keychainhost.shared</string>
    </array>
</dict>
</plist>
